
.container_swap {
    width: 400px;
}
.div_left {
    width: 200px;
    float: left;
    text-align: center;
}
.div_right {
    width: 200px;
    float: left;
    text-align: center;
}

.hinh {
    border-top-style:double;
    border-right-style:double;
    border-bottom-style:double;
    border-left-style:double;
}
